@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.blur {
  filter: blur(4px);
}

.bg-blur {
  backdrop-filter: blur(4px);
}

.swiper-scrollbar {
  opacity: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination {
  position: absolute !important;
  top: -10px !important;
  right: 5px !important;
  height: 20% !important;
}

.swiper-pagination-bullets {
  position: absolute !important;
  margin-left: auto !important;
  width: 10% !important;
  height: 5% !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  height: 3px !important;
  background-color: white !important;
  margin: 0 3px !important;
}

.background-fade {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.background-fade-bottom-enter {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0)
  );
  background-color: #161925;
}

.background-fade-bottom-exit {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );

  background-color: #161925;
}
