@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.blur {
  filter: blur(4px);
}

.bg-blur {
  backdrop-filter: blur(4px);
}

.burger-blur {
  backdrop-filter: blur(0.5px);
}

.swiper-scrollbar {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  z-index: 0 !important;
}

.swiper-pagination {
  position: absolute !important;
  top: -30px !important;
  right: 45px !important;
  height: 20% !important;
  z-index: 0 !important;
}

.swiper-pagination-bullets {
  position: absolute !important;
  margin-left: auto !important;
  width: fit-content !important;
  height: 5% !important;
  left: 0px;
  z-index: 0 !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  height: 2px !important;
  width: 10px !important;
  background-color: white !important;
  margin: 0 1px !important;
}

.swiper-slide,
.swiper {
  position: relative;
  z-index: 1 !important;
}

.swiper:hover {
  z-index: 2 !important;
}
.swiper-slide:hover {
  z-index: 2 !important;
}

.background-fade {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.background-fade-bottom-enter {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0)
  );
  background-color: #161925;
}

.background-fade-bottom-exit {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );

  background-color: #161925;
}

.sliderButtonsBgFade {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 12%,
    rgba(0, 0, 0, 0.5) 15%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0) 100%
  );
}

.sliderButtonsBgBlur {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
}

.sliderButtonsBgBlur:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.05) 15%,
    rgba(0, 0, 0, 0.01) 30%,
    rgba(0, 0, 0, 0) 40%
  );
  backdrop-filter: blur(4px);
  z-index: -1;
}

.cardHover {
  transition: all 0.3s ease-in-out;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.youtube-player-container {
  position: relative !important;
  width: 100% !important;
  padding-bottom: 56.25% !important;
  height: 0 !important;
}

.youtube-player-container iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 177.78%; /* Set to 100 / 0.5625 (aspect ratio) */
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #161925;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  animation: spinner 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid #dfd260;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner-inner 1s linear infinite;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  color: #dfd260;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 865px) {
  a:focus,
  a:visited,
  a:active {
    outline: none;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

.slideInLeft {
  animation: slideInLeftAnimation ease-in-out 1s linear;
}

@keyframes slideInLeftAnimation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

.movie-page {
  position: relative;
}

.background-image {
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.genre-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    );
}

.genre-background-image {
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.genre-background-image:hover {
  transform: scale(1.1);
}

.scrollBar::-webkit-scrollbar {
  width: 2px;
  direction: ltr;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 3px;
}

.burgerOpenAnimation {
  animation: burgerOpenAnimation 0.3s linear;
}

@keyframes burgerOpenAnimation {
  from {
    transform: translateX(-35rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.burgerLayoutOpenAnimation {
  animation: burgerLayoutOpenAnimation 0.3s linear;
}

@keyframes burgerLayoutOpenAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burgerCloseAnimation {
  animation: burgerCloseAnimation 0.2s linear;
}

@keyframes burgerCloseAnimation {
  from {
    transform: translateX(0rem);
    opacity: 1;
  }
  to {
    transform: translateX(-35rem);
    opacity: 0;
  }
}

.burgerLayoutCloseAnimation {
  animation: burgerLayoutCloseAnimation 0.2s linear;
}

@keyframes burgerLayoutCloseAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.shadow-top {
  position: relative;
}

.shadow-top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.transition-height {
  transition-property: height;
  transition-duration: 0.3s; /* adjust as needed */
  transition-timing-function: ease-in-out; /* adjust as needed */
}

.fullscreen-background {
  margin: 0;
  padding: 0;
  background-image: url('/images/authBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 155vh;
  scale: 0.7;
}

.fullscreen-background-2 {
  margin: 0;
  padding: 0;
  background-image: url('/images/authBackground2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 111.5vh;
  scale: 0.7;
}

.auth-background-gradient {
  background: linear-gradient(
    to bottom,
    #161925,
    #161925,
    #161925,
    #101219,
    #05050b
  );
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #88898d inset !important;
  -webkit-text-fill-color: white !important;
  border-radius: 0.25rem;
}

::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  font-size: 14px;
}
